# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# S3 / MinIO for host-based tools
AWS_REGION=local-01
S3_BUCKET=fip-lakehouse
S3_ENDPOINT=http://192.168.1.89:9000

# S3 / MinIO for containers inside docker-compose
S3_ENDPOINT_INTERNAL=http://minio:9000
S3_PATH_STYLE_ACCESS=true
ICEBERG_WAREHOUSE=s3://fip-lakehouse/warehouse

# Postgres
POSTGRES_DB=fip
POSTGRES_USER=fip
POSTGRES_PASSWORD=fip123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SCHEMA=gold

# Lakekeeper
LAKEKEEPER_IMAGE=quay.io/lakekeeper/catalog:latest-main
LAKEKEEPER_BASE_URI=http://localhost:8181
LAKEKEEPER_CATALOG_URI=http://localhost:8181/catalog
LAKEKEEPER_PG_ENCRYPTION_KEY=change-me-dev-only
LAKEKEEPER_WAREHOUSE_NAME=local-host
LAKEKEEPER_PROJECT_ID=00000000-0000-0000-0000-000000000000

# DuckDB
DUCKDB_PATH=.duckdb/fip.duckdb
