# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# S3 / MinIO
AWS_REGION=us-west-2
S3_BUCKET=bucket123
S3_ENDPOINT=http://minio:9000
S3_PATH_STYLE_ACCESS=true
ICEBERG_WAREHOUSE=s3://bucket123/warehouse

# Trino
TRINO_HOST=localhost
TRINO_PORT=8080
TRINO_USER=trino

# DuckDB
DUCKDB_PATH=.duckdb/fip.duckdb
